<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="Regression Test">
        <classes>
            <class name="testcases.TC01_RegisterTest"/>
            <class name="testcases.TC02_LoginTest"/>
            <class name="testcases.homepage.HeaderNavigationTest"/>
            <class name="testcases.homepage.HomeMovieSearchTest"/>
            <class name="testcases.homepage.HomeMovieListingsTest"/>
            <class name="testcases.detailpage.MovieDetailBookingFlowTest"/>
            <class name="testcases.purchasepage.SeatSelectionTest"/>
            <class name="testcases.homepage.MovieSelectorTableTest"/>

        </classes>
    </test>
</suite>